@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">Books</h1>
</div>

@model List<book_project.Models.Book>

<h1>List of Books</h1>

@if (!Model.Any())
{
    <p>No books found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th> 
                <th>Genre</th> 
                <th>Reviews</th> </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author.Name</td>
                    <td>@book.Genre</td>
                    <td><a href="http://localhost:5210/reviews/@book.BookId">Reviews</a></td>
                </tr>
            }
        </tbody>
    </table>
}
